:host
{
	contain:content;
	display:grid;
	grid-template-columns:2rem auto;
	grid-template-rows:2rem auto;
	height:100%;
	width:100%;
}
[hidden]
{
	display:none;
}
canvas
{
	background-color:#fff;
	background-image:
		linear-gradient(0deg,rgba(153,153,153,0.5) 50%,transparent 50%),
		linear-gradient(90deg,transparent 50%,rgba(153,153,153,0.5) 50%);
	background-size:100% 8px, 8px 100%;
}
.coords
{
	font-size:0.5rem;/*@todo come up with a better solution to this*/
}
.active
{
	box-shadow:0 0 0.2rem #fff;
}
.palette button
{
	border:none;
	color:#fff;
	display:block;
	height:1.5rem;
	margin:0.25rem;
	text-align:center;
	text-shadow:0 0 0.2rem #000;
	width:1.5rem;
}
.palette button:focus
{
	outline:none;
}
.ui,
.ui :not(.selectable)
{
	-moz-user-select:none;
	user-select:none;
}